* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body {
    background: #f4f6f8;
}
.navbar {
    background: #0d6efd;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar input {
    padding: 8px;
    width: 40%;
    border-radius: 5px;
    border: none;
}
#cart-btn {
    background: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: 1.5rem;
}
.product-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    text-align: center;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}
.product-card button {
    background: #0d6efd;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.65);
    display: none;
    justify-content: center;
    align-items: center;
}
.cart-content {
    background: white;
    width: 350px;
    padding: 1rem;
    border-radius: 10px;
}
.cart-content ul {
    list-style: none;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}
.cart-content li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.cart-content button {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout, .support {
    max-width: 500px;
    margin: 2rem auto;
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.checkout input,
.checkout textarea,
.checkout select,
.support input,
.support textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.checkout button,
.support button {
    width: 100%;
    padding: 10px;
    background:#0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
}

#checkout-btn {
    background: #198754;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#checkout-btn:hover {
    background: #157347;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.cart-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-info {
    flex: 1;
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 5px;
}

.qty-controls button {
    padding: 3px 8px;
    border: none;
    background: #0d6efd;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.remove-btn {
    background: none;
    border: none;
    cursor: pointer;
}

